@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

:root {
    --type-font: 'Maven Pro', sans-serif;
}

.fondo {
    border-radius: 30px;
    margin: 2px;
    padding: 5px 20px;
    background: #1160E8;
    background: -webkit-radial-gradient(circle farthest-corner at right center, #1160E8 50%, #FFFFFF 50%);
    background: -moz-radial-gradient(circle farthest-corner at right center, #1160E8 50%, #FFFFFF 50%);
    background: radial-gradient(circle farthest-corner at right center, #1160E8 50%, #FFFFFF 50%);
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: o;
    left: 0;
    right: 0;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-top: 20px;
}

.header__left, .header__right {
    width: 50%;
    height: inherit;
}

.header__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__left__photo {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header__left span {
    margin-left: 4px;
    color: #1F2D46;
}

.header__left .social-icons::before {
    background-color: #F3F4F5;
    border-radius: 50%;
    padding: 6px;
}

.header__right__options {
    font-family: var(--type-font);
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__right__options .header__right__options__items {
    height: auto;
    display: flex;
    list-style: none;
    align-items: center;
}

.header__right__options__items a {
    color: white;
    margin-right: 34px;
}

.header__right__options img {
    width: 35px;
    height: 35px;
    transform: translateY(5%);
    margin: 0px 25px;
}

.main {
    font-family: var(--type-font);
    display: flex;
    height: 80%;
}

.main__section1 {
    display: flex;
    text-align: left;
    width: 50%;
    justify-content: center;
}

.main__section1__container {
    width: 85%;
    margin: 25px 0px;
}

.main__section1__container #button {
    background-color: #F2E9FF;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: 600;
    font-size: 1em;
    color: #812DFF;
}

.main__section1__container h1 img {
    width: 90px;
    margin: 0px;
    padding:0px;
    transform: translateY(30%);
}

.main__section1__container h1 {
    color: #1F2D46;
    font-weight: 900;
    font-size: 3.7em;
    line-height: 1.2em;
    margin: 0.13em 0px;
}

.main__section1__container h1 #otherColor {
    color: #1160E8;
}

.main__section1__container p {
    color: #68758E;
    font-weight: 500;
}

.main__section1__container__data {
    display: flex;
    margin-top: 9px;
}

.main__section1__container__data--textbox {
    width: 210px;
    border-radius: 6px;
    border: 1px solid #ECEFF5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
}

.main__section1__container__data--textbox .icon-flag {
    background-image: url('https://img.icons8.com/color/16/000000/colombia.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.main__section1__container__data--textbox input {
    width: 165px;
    height: 40px;
    border: none;
    outline: none;
}

.main__section1__container__data--textbox:hover {
    box-shadow: 1px 8px 20px -1px #d0d2d8;
    border: 1px solid #d0d2d8;
}

.main__section1__container__data .main__section1__container__data--button {
    width: 210px;
    height: 40px;
    color: #F8FAFE;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: #1160E8;
    margin-left: 8px;
    box-shadow: 1px 9px 40px -8px #1160E8;
    cursor: pointer;
}

.main__section2 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.main__section2 .main__section2__panel {
    margin: 30px 0px;
    width: 58%;
    border-radius: 5px;
    background-color: #FFFFFF;
}